@model WebApplication1.Models.recoveryPassword

@{
    ViewBag.Title = "lostPassword";
    Layout = "~/Views/sheard/_Layout.cshtml";
}

@section head{
    <link rel="stylesheet" href="~/css/signin.css">
}
<div class="d-flex flex-column visible col-5 bg-light" id="d-form">
    <div id="d-h" class="bg-danger p-1">
        <h3 class="w-100">تغییر گذرواژه</h3>
    </div>

    @using (Html.BeginForm("lostPassword", "accont", FormMethod.Post, null))
    {

        <div class="form-group">
            <label>ایمیل</label>
            @Html.EditorFor(m => m.email)
            @if (@Model.email_error != null)
                {<label class="error-box">@Model.email_error</label>}

        </div>

        <div class="form-group">
            <label>کد</label>
            <div class="d-flex flex-row-rivers">@Html.EditorFor(m => m.code)<button class="btn btn-primary" id="code-sender" type="submit">ارسال کد</button></div>
            @if (@Model.code_error != null)
            {<label class="error-box" style="display:block">@Model.code_error</label>}
        </div>
        <div class="form-group">
            <label>رمز جدید</label>
            @Html.EditorFor(m => m.newpassword)
            @if (@Model.newpassword_error != null)
            {<label class="error-box" style="display:block">@Model.newpassword_error</label>}
        </div>
        <button class="btn btn-primary" type="submit">تغییر گذرواژه</button>
       


    }

</div>


@section sqript{
    <script>
        $(document).ready(function () {
            $("#code-sender").click(function () {
                alert(123456);
            })

            $("button").addClass('button');
            $(".text-box").addClass('form-control');
            $("#code").addClass("col-6")
            $(".error-box").addClass("t-error")
            $(".error-box").siblings("input").addClass("error")
            $(".error-box").addClass("t-error")
            $(".error-box").siblings("div > input").addClass("error")
            //xhttp.open("get", "signin", true);
            //xhttp.send();

        });
    </script>
}

